<img src='../assets/demo-image.jpg' (click)='imgClicked($event)' *ngIf="imgState=='default'" />
<image-cropper *ngIf="imgState=='crop' && imageBase64"
  [imageBase64]='imageBase64'
  (imageCropped)='imageCropped($event)'
  (imageLoaded)='imageLoaded($event)'
  (loadImageFailed)='loadImageFailed($event)'
  autoCrop='false'
>
</image-cropper>
<img [src]='croppedImage' />
<button *ngIf="imgState=='default'" type="button" name="button" (click)='imgClicked()'>Crop Image</button>
<button *ngIf="imgState=='crop'" type="button" name="button" (click)='saveImg()'>Save Image</button>
